body {
  height: 150vh;
  margin: 30px;
  color: #444;
  background-color: #eee;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1 {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: .5em;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.example {
  margin-bottom: 1.5em;
}

.full-width select,
.full-width .fsb-select {
  width: 100%;
}

.custom-style {
  --fsb-border: 0;
  --fsb-radius: 2em;
  --fsb-color: #fff;
  --fsb-background: #2F86A6;
  --fsb-padding: .75em 1.5em;
  --fsb-arrow-padding: 1.5em;
  --fsb-arrow-size: .5em;
  --fsb-list-height: 200px;
  --fsb-list-radius: .75em;
  --fsb-list-background: #34BE82;
  --fsb-hover-background: #2FDD92;
}

.icons {
  --fsb-border: 1px solid #fc0;
  --fsb-radius: 10px;
  --fsb-padding: .75em;
  --fsb-arrow-padding: 1em;
  --fsb-hover-background: #fc0;
  --fsb-list-height: 350px;
}

@media screen and (min-height: 680px) {
  .auto-position {
    position: absolute;
    width: calc(100% - 60px);
    max-width: 500px;
    bottom: 20px;
  }
}